.background {
  background-color: tan;
}
.special-font {
  font-family: "Lobster", cursive;
  font-size: 100px;
}

p {
  text-align: center;
}

.alignment {
  text-align: right;
}
.flex-this {
  flex-direction: column;
}

.flex-that {
  flex-wrap: wrap-reverse;
}

/* .sport-table {
  border: 10px;
  border-collapse: collapse;
} */

/* body {
  font-size: 48px;
  font-family: cursive;
} */
